perlc
perlc_tsan
a.out
src/*.o
src/*.a
*.ll
*.bc
*.so
*.dylib
/tmp/
lib/
arith_bin
test_*.pl
tests/mbs
tests/nb
tests/tree
simple_test.pl
test_simple_func
test_shared_simple
test_shared_semantics
test_working
